<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Product Page</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">

<style>
body {
	background-image: url('/image/Amount_Logo.jpg');
	background-repeat: no-repeat;
	background-size: 100%;
}
</style>

</head>
<body>


	<nav class="navbar navbar-expand-md bg-dark navbar-dark">
		<!-- Brand -->
		<a class="navbar-brand" href="#">Products Amount Details </a>

		<!-- Toggler/collapsibe Button -->
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#collapsibleNavbar">
			<span class="navbar-toggler-icon"></span>
		</button>

		<nav class="navbar navbar-inverse navbar-fixed-top">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed"
						data-toggele="collapse" data-target="#navbar"
						aria-expanded="false" aria-controls="navbar">
						<span class="sr-only">Toggle navigation</span> <span
							class="icon-bar"></span> <span class="icon-bar"></span> <span
							class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#" th:href="@{/}">Home</a>

					<form th:action="@{/logout}" method="GET">
						<input type="submit" value="Logout" />
					</form>
				</div>
			</div>
		</nav>

		<!-- Navbar links -->
		<div class="collapse navbar-collapse" id="collapsibleNavbar">
			<ul class="navbar-nav">
				<li class="nav-item"><a class="nav-link" th:href="@{/products}"></a>
				</li>
			</ul>
		</div>
	</nav>
	<div class="container">
		<div class="row"></div>


		<div class="row"></div>
		<div class="col-lg-3">
			<!-- <a th:href="@{/addProducts/new}" class="btn btn-primary btn-sm mb-3"> Add Products</a> -->
			<table>
				<thead>
					<tr>
						<th>Products Name</th>
						<th>Products Type</th>
						<th>Products Quantity</th>
						<th>Products Price</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="products : ${cartList}">
						<td th:text="${products.products_name}"></td>
						<td th:text="${products.products_type}"></td>
						<td th:text="${products.products_quantity}"></td>
						<td th:text="${products.products_price}"></td>
					</tr>

					<tr>
						<center>
							<td>Total Amount</td>
						</center>
						<center>
							<td><input type="text" th:value=${totalAmount}></td>
						</center>
					</tr>
					<tr>
						<br>
						<a th:href="@{/orderCheckOut/{id} (id=${userDetails.id})}">CheckOut</a>

					</tr>

				</tbody>
			</table>
		</div>
</body>
</html>